<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- 配置作业类 -->
    <bean id="job" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <bean class="com.demo.jobs.MyJob"/>
        </property>
        <property name="targetMethod" value="doJob"/>
        <property name="concurrent" value="false"/><!-- 作业不并发调度 -->
    </bean>
    <bean id="task" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <bean class="com.demo.jobs.MyTask"/>
        </property>
        <property name="targetMethod" value="doTask"/>
        <property name="concurrent" value="false"/>
    </bean>


    <!-- 配置触发方式 -->
    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="job" />
        <!-- 每天12:00运行一次 -->
        <property name="cronExpression" value="0 */1 * * * ?" />
    </bean>
    <bean id="cronTrigger2" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="task"/>
        <property name="cronExpression" value="0 */2 * * * ?"/>
    </bean>


    <!-- 配置调度工厂 -->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cronTrigger" />
                <ref bean="cronTrigger2"/>
            </list>
        </property>
    </bean>


</beans>